<div class="flex flex-col absolute justify-center items-start h-screen w-2/3 p-20">
    <p class="text-5xl font-bold text-base-content mb-5">
        Reset your password
    </p>
    <.form let = {f} for={@fpset_changeset} id="fpreset-form", class="w-4/5 space-y-10" phx-change="fpset-validate" phx-submit="fpset-submit">
        <%= floating_input f, :password, wrapper: ["relative"] %>
        <%= floating_input f, :confirm_password,  wrapper: ["relative"] %>
        <button type="submit" class="btn btn-outline btn-primary">Continue</button>
    </.form>
</div>