/* This file is for your main application CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

.floating-input>input::placeholder {
    color: transparent;
}

.floating-input>input:focus,
.floating-input>input:not(:placeholder-shown) { 
@apply pt-8
}

.floating-input>input:focus~label, 
.floating-input>input:not(:placeholder-shown)~label {
  @apply opacity-75 scale-75 -translate-y-3 translate-x-1 text-primary-content; 
}

.calendar-button>p{
  @apply text-gray-400
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.card-parent:hover>.hidden-child{
  visibility: visible;
}

.card-parent>.hidden-child{
  visibility: hidden;
}

.no-scroll{
  overflow: hidden;
}

.sidebar-button{
  display: flex;
  gap: 12px;
  padding: 12px;
  border-radius: 10px;
}

.sidebar-button>span{
  transform: translateY(1px)
}

.sidebar-button:hover{
  background: #c0c0aa;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1cf0ff51, #b3efec55);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,#1cf0ff51, #b3efec6f);
  fill: rgb(0, 101, 101);
  color: rgb(0, 101, 101);
}

.sidebar-button-active{
  display: flex;
  gap: 12px;
  padding: 12px;
  border-radius: 10px;
  fill: rgba(20, 125, 125, 0.831);
  color: rgba(20, 125, 125, 0.831);
  background: #c0c0aa;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1cefff, #b3efec);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1cefff, #b3efec); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sidebar-button-active:hover{
  fill: rgb(0, 101, 101);
  color: rgb(0, 101, 101);
  background: #c0c0aa;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0decfc, #8efcf7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0decfc, #8efcf7);
}

.hide-scroll::-webkit-scrollbar{
  display: none;
}

.hide-scroll{
  -ms-overflow-style: none; /* Edge, Internet Explorer */
  scrollbar-width: none; /* Firefox */
  overflow-x: scroll;
}

.close-button:hover>div{
  @apply stroke-white bg-black
}

.close-button{
  @apply stroke-gray-400 bg-white
}

.flip-horizontally {
  transform: scaleX(-1);
}

.remote-grid>.remote-video-element{
  @apply bg-white w-full h-fit
}

.remote-grid>.remote-video-element>video{
  @apply bg-black w-full 
}

.book-loader {
  --background: linear-gradient(135deg, #23C4F8, #275EFE);
  --shadow: rgba(39, 94, 254, 0.28);
  --text: #6C7486;
  --page: rgba(255, 255, 255, 0.36);
  --page-fold: rgba(255, 255, 255, 0.52);
  --duration: 3s;
  width: 200px;
  height: 140px;
  position: relative;
}
.book-loader:before, .book-loader:after {
  --r: -6deg;
  content: '';
  position: absolute;
  bottom: 8px;
  width: 120px;
  top: 80%;
  box-shadow: 0 16px 12px var(--shadow);
  transform: rotate(var(--r));
}
.book-loader:before {
  left: 4px;
}
.book-loader:after {
  --r: 6deg;
  right: 4px;
}
.book-loader div {
  width: 100%;
  height: 100%;
  border-radius: 13px;
  position: relative;
  z-index: 1;
  perspective: 600px;
  box-shadow: 0 4px 6px var(--shadow);
  background-image: var(--background);
}
.book-loader div ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.book-loader div ul li {
  --r: 180deg;
  --o: 0;
  --c: var(--page);
  position: absolute;
  top: 10px;
  left: 10px;
  transform-origin: 100% 50%;
  color: var(--c);
  opacity: var(--o);
  transform: rotateY(var(--r));
  animation: var(--duration) ease infinite;
}
.book-loader div ul li:nth-child(2) {
  --c: var(--page-fold);
  animation-name: page-2;
}
.book-loader div ul li:nth-child(3) {
  --c: var(--page-fold);
  animation-name: page-3;
}
.book-loader div ul li:nth-child(4) {
  --c: var(--page-fold);
  animation-name: page-4;
}
.book-loader div ul li:nth-child(5) {
  --c: var(--page-fold);
  animation-name: page-5;
}
.book-loader div ul li svg {
  width: 90px;
  height: 120px;
  display: block;
}
.book-loader div ul li:first-child {
  --r: 0deg;
  --o: 1;
}
.book-loader div ul li:last-child {
  --o: 1;
}
.book-loader span {
  display: block;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 20px;
  text-align: center;
  color: var(--text);
}
@keyframes page-2 {
  0% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  35%, 100% {
    opacity: 0;
  }
  50%, 100% {
    transform: rotateY(0deg);
  }
}
@keyframes page-3 {
  15% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
  65%, 100% {
    transform: rotateY(0deg);
  }
}
@keyframes page-4 {
  30% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65%, 100% {
    opacity: 0;
  }
  80%, 100% {
    transform: rotateY(0deg);
  }
}
@keyframes page-5 {
  45% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  80%, 100% {
    opacity: 0;
  }
  95%, 100% {
    transform: rotateY(0deg);
  }
}
