/* This file is for your main application CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

.floating-input>input::placeholder {
    color: transparent;
}

.floating-input>input:focus,
.floating-input>input:not(:placeholder-shown) { 
@apply pt-8
}

.floating-input>input:focus~label, 
.floating-input>input:not(:placeholder-shown)~label {
  @apply opacity-75 scale-75 -translate-y-3 translate-x-1 text-primary-content; 
}

.calendar-button>p{
  @apply text-gray-400
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.card-parent:hover>.hidden-child{
  visibility: visible;
}

.card-parent>.hidden-child{
  visibility: hidden;
}

.no-scroll{
  overflow: hidden;
}

.sidebar-button{
  display: flex;
  gap: 12px;
  padding: 12px;
  border-radius: 10px;
}

.sidebar-button>span{
  transform: translateY(1px)
}

.sidebar-button:hover{
  background: #c0c0aa;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1cf0ff51, #b3efec55);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,#1cf0ff51, #b3efec6f);
  fill: rgb(0, 101, 101);
  color: rgb(0, 101, 101);
}

.sidebar-button-active{
  display: flex;
  gap: 12px;
  padding: 12px;
  border-radius: 10px;
  fill: rgba(20, 125, 125, 0.831);
  color: rgba(20, 125, 125, 0.831);
  background: #c0c0aa;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1cefff, #b3efec);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1cefff, #b3efec); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sidebar-button-active:hover{
  fill: rgb(0, 101, 101);
  color: rgb(0, 101, 101);
  background: #c0c0aa;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0decfc, #8efcf7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0decfc, #8efcf7);
}

.hide-scroll::-webkit-scrollbar{
  display: none;
}

.hide-scroll{
  -ms-overflow-style: none; /* Edge, Internet Explorer */
  scrollbar-width: none; /* Firefox */
  overflow-x: scroll;
}

